@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-header {
  padding: 0 70px;
  background: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 30px;

}

.header-logo {
  position: relative;
  display: block;
  margin-bottom: -5px;
  transition: opacity ease-in 0.1s, transform ease-in 0.1s;

}

a.navigation-logo:hover .header-logo {
  transform: scale(1.1) translateY(3px);
}

a .header-logo:active {
  opacity: 0.3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list.navigation-user {
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  margin-left: auto;
}

.navigation-item {
  position: relative;
  display: block;
}

.navigation-link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 20px 17px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
 }

 a.navigation-link:hover {
  color: #756157;
}

a.navigation-link:focus {
  color: #756157;
}

a.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.navigation-current {
  cursor: default;
}

.navigation-current::after {
  position: absolute;
  content: "";
  display: block;
  left: 17px;
  right: 17px;
  bottom: -1px;
  height: 2px;
  background-color: #756157;
}

.navigation-user .navigation-item {
  padding: 0;
  margin: 0;
}

.navigation-user .navigation-link {
  box-sizing: border-box;
  width: 42px;
  height: 65px;
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-counter {
  position: absolute;
  top: 15px;
  left: 24px;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 2.5px 0.47px 4.5px;
  font-size: 10px;
  line-height: 13px;
  font-weight: 400;
  letter-spacing: -0.1em;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.header-button {
  display: block;
  box-sizing: border-box;
  min-width: 160px;
  margin-left: 20px;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.page-footer {
  background: #ffffff;
}

.subscription {
  padding: 94px 200px;
  text-align: center;
  color: #ffffff;
  background: url("../images/subscribe-background.jpg") #2d4247 center/cover no-repeat;
}

.subscription.subscription-catalog {
  color: inherit;
  background: inherit;
}

.subscription-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-catalog .subscription-text {
  color: #333333;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-input {
  box-sizing: border-box;
  display: block;
  width: 600px;
  padding: 20px 22px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

@-moz-document url-prefix() {
  .subscription-input {
    padding: 19px 22px 18px;
  }
}

.subscription-input::placeholder {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}

.subscription-input:hover {
  background-color: #e6e6e6;
}

.subscription-input:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.subscription-input:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000 inset;
}

.subscription-input:disabled {
  background-color: #82b3d3;
  pointer-events: none;
}

.subscription-button {
  min-width: 200px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 10px 10px 0;
}

.subscription-button:hover {
  background-color: #68A2CA;
}

.subscription-button:focus {
  background-color: #68A2CA;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 40px;
}

.social-button-icon {
  fill: #83b3d3
}

.social-button:hover .social-button-icon {
  fill: #68a2ca;
}

.social-button:focus .social-button-icon {
  fill: #68a2ca;
}

.social-button:active .social-button-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 580px;
  margin: 0 auto;
  text-align: center;
}

.footer-phone-link {
  padding: 10px;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-phone-link:hover {
  color: #756157;
}

.footer-phone-link:focus {
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-about-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 213px;
}

.about-logo {
  fill: #000000;
}

.footer-about-link:hover .about-logo {
  fill: #756157;
}

.footer-about-link:focus .about-logo {
  fill: #756157;
}

.footer-about-link:active .about-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.main-content {
  flex-grow: 1;
  background-color: #ffffff;
}

/* index */

.lead-wrapper {
  padding-top: 51px;
  background-image: url("../images/welcome-background.jpg");
  background-color: #2d4247;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto
}

.lead-banner {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.lead-wrapper::after {
  content: "";
  display: block;
  width: 1200px;
  height: 57px;
  background: url("../images/welcome-mask.svg") center no-repeat;
}

.lead-text-wrapper {
  padding: 63px 200px 90px;
}

.lead-slogan,
.lead-text {
  margin: 0 auto;
}

.lead-slogan {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.lead-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-wrapper {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding: 92px 85px;
  color: #ffffff;
  text-align: center;
  background: #82b3d3;
}

.advantages-accent {
  display: flex;
}

.accent-odd::after {
  content: "";
  display: block;
  width: 800px;
  height: auto;
  background: url("../images/advantages-town.jpg") center/cover no-repeat;
}

.accent-even::before {
  content: "";
  display: block;
  width: 800px;
  height: auto;
  background: url("../images/advantages-canyon.jpg") center/cover no-repeat;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-title {
  width: 180px;
  margin: auto;
  margin-bottom: 30px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-num {
  margin: auto 0 30px;
  padding: 0;
}

.advantages-text {
  margin: 0;
  padding: 0;
  color: #333333;
}

.advantages-text.accent-text {
  color: inherit;
}

.advantages-accent-bright {
  background: #ffffff;
}

.advantages-accent-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 384px;
}

.icons-list .advantages-item {
  padding: 80px 75px 81px;
}

.numbers-list .advantages-item {
  padding: 103px 75px 102px;
}

.advantages-item.housing::before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  background: url("../images/icons/housing.svg") center/auto no-repeat;
}

.advantages-item.food::before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  background: url("../images/icons/food.svg") center/auto no-repeat;
}

.advantages-item.souvenirs::before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  background: url("../images/icons/souvenirs.svg") center/auto no-repeat;
}

.hotel-search {
  padding: 89px 200px 93px;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-text {
  width: 640px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 574px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #756157;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  background-color: #615048;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-search-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

/* modal */

.modal-container {
  position: fixed;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal-opened {
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  box-sizing: border-box;
  width: 715px;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-title {
  margin: 0;
  margin-bottom: 63px;
  margin-left: -3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.modal-close-button {
  position: absolute;
  top: 55px;
  right: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 53px;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  box-shadow: none;
  outline: none;
}

.modal-close-button:active .close-icon {
  opacity: 0.3;
}

.modal-form {
  display: grid;
  grid-template-columns: 136px 133px 118px 133px;
  gap: 40px 18px;
  align-items: center;
}

.modal-label {
  justify-self: start;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.date-wrapper {
  position: relative;
  grid-column: 2/-1;
}

.modal-date {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 19px 14px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/icons/calendar.svg");
  background-position: right 19px center;
  background-size: 15px;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
}

@-moz-document url-prefix() {
  .modal-date {
    padding: 14px 19px 13px;
  }
}

.modal-date::placeholder {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}

.modal-date:hover {
  background-color: #e6e6e6;
}

.modal-date:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-date:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000 inset;
}

.modal-date:disabled {
  background-color: #82b3d3;
  pointer-events: none;
}

.input-comment {
  position: absolute;
  bottom: -28px;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.input-comment.input-error {
  color: #FF5757;
}

.count-wrapper {
  position: relative;
}

.adult-wrapper {
  grid-column: 2/3;
}

.child-wrapper {
  grid-column: 4/-1;
}

.modal-count {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 15px 25px 14px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  appearance: textfield;
}

@-moz-document url-prefix() {
  .modal-count {
    padding: 14px 24px 13px;
  }
}

.modal-count::-webkit-outer-spin-button,
.modal-count::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-count:hover,
.modal-count-button:hover ~ .modal-count:not([disabled]) {
  background-color: #e6e6e6;
}

.modal-count:focus {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-count:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000 inset;
}

.modal-count:disabled {
  background-color: #82b3d3;
  pointer-events: none;
}

.modal-count-button {
  position: absolute;
  top: 12px;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  background-position: center;
  background-size: 13px;
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.modal-count-button.button-minus {
  left: 12px;
  background-image: url("../images/icons/minus.svg");
}

.modal-count-button.button-plus {
  right: 12px;
  background-image: url("../images/icons/plus.svg");
}

.modal-count-button:hover {
  opacity: 1;
}

.modal-count-button:focus {
  box-shadow: 0 0 0 3px #83B3D3 inset;
  opacity: 1;
  outline: none;
}

.modal-count-button:active {
  box-shadow: none;
  opacity: 0.2;
  outline: none;
}

.modal-count-button:disabled {
  opacity: 0.1;
  pointer-events: none;
}

.label-wrapper {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tooltip {
  position: relative;
}

.tooltip-button {
  width: 25px;
  height: 25px;
  margin: 0;
  margin-left: 6px;
  padding: 0;
  background: url("../images/icons/info.svg") #83b3d3 center/auto no-repeat;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-box {
  position: absolute;
  left: 18px;
  visibility: hidden;
  box-sizing: border-box;
  width: 256px;
  margin: 0;
  margin-top: 14px;
  padding-right: 18px;
  padding-left: 22px;
  padding-top: 15px;
  padding-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-box::before {
  position: absolute;
  top: -6px;
  left: 120px;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
}

.tooltip-button:hover {
  background-color: #68A2CA;
}

.tooltip-button:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.tooltip-button:hover + .tooltip-box,
.tooltip-button:focus + .tooltip-box {
  visibility: visible;
  opacity: 1;
}

.modal-form-button {
  grid-column: 1/-1;
  padding: 12px 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #83b3d3;
  border-radius: 10px;
}

.modal-form-button:hover {
  background-color: #68A2CA;
}

.modal-form-button:focus {
  background-color: #68A2CA;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.modal-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68A2CA;
  box-shadow: none;
  outline: none;
}

.modal-form-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

/* catalog */

.catalog-header {
  padding: 70px;
  padding-top: 35px;
  padding-right: 71px;
  color: #ffffff;
  background: url("../images/filter-background.jpg") #2d4247 center no-repeat;
  background-size: cover;
}

.catalog-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 2px;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link {
  margin-right: 10px;
}

.breadcrumbs-link:not(.breadcrumbs-current):hover {
  opacity: 0.3;
}

.breadcrumbs-link:not(.breadcrumbs-current):active {
  opacity: 0.3;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  background: url("../images/icons/breadcrumbs-arrow.svg") center/cover no-repeat;
}

.catalog-form {
  display: flex;
  justify-content: space-between;
}

.filter-column-left {
  display: grid;
  grid-template-columns: min-content minmax(auto, 150px);
  grid-gap: 71px;
}

.filter-column-right {
  display: grid;
  grid-template-columns: auto 160px;
  grid-gap: 70px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  display: block;
  margin-bottom: 15px;
}

.control {
  display: flex;
}

.custom-checkbox {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-left: 1px;;
  margin-right: 19px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.control-label {
  cursor: pointer;
}

.control-checkbox[type="checkbox"]:checked + .custom-checkbox::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../images/icons/checkbox-tick.svg") transparent center no-repeat;
  content: "";
}

.control:hover .custom-checkbox {
  opacity: 0.6;
}

.control-checkbox:focus + .custom-checkbox {
  opacity: 0.6;
  outline: 3px solid #83b3d3;
}

.control-checkbox:active + .custom-checkbox {
  opacity: 0.3;
  outline: none;
}

.control-checkbox:disabled ~ .custom-checkbox,
.control-checkbox:disabled ~ .control-label {
  opacity: 0.3;
  pointer-events: none;
}

.custom-radio {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-left: 1px;;
  margin-right: 19px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}

.control-radio[type="radio"]:checked + .custom-radio::after {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background: #3f5e72;
  border-radius: 5px;
  content: "";
}

.control:hover .custom-radio {
  opacity: 0.6;
}

.control-radio:focus + .custom-radio {
  opacity: 0.6;
  outline: 3px solid #83b3d3;
}

.control-radio:active + .custom-radio {
  opacity: 0.3;
  outline: none;
}

.control-radio:disabled ~ .custom-radio,
.control-radio:disabled ~ .control-label {
  opacity: 0.3;
  pointer-events: none;
}

.filter-column-right .catalog-filter-title {
  margin-bottom: 34px;
}

.range-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 288px;
}

.range-label-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 28px;
}

.range-input {
  display: block;
  box-sizing: border-box;
  width: 145px;
  margin: 0;
  padding: 12px 17px 11px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  appearance: textfield;
}

@-moz-document url-prefix() {
  .range-input {
    padding: 11px 17px 10px;
  }
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-label-wrapper + .range-label-wrapper .range-input {
  border-radius: 0 4px 4px 0;
}

.range-label-wrapper + .range-label-wrapper {
  margin-left: -2px;
}

.range-label {
  position: absolute;
  top: 12px;
  right: 15px;
  opacity: 0.3;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  border-color: #ffffff;
  outline: none;
  box-shadow: 0 0 0 2px #81b3d2, 0 0 0 2px #81b3d2 inset;
}

.range-input:focus:not(:placeholder-shown) {
  background-color: #756257;
  border-color: #ffffff;
  outline: none;
  box-shadow: none;
}

.range-input:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.range-scale {
  position: relative;
  align-self: start;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-thumb {
  position: absolute;
  top: -8px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-thumb.thumb-min {
  left: 0;
}

.range-thumb.thumb-max {
  right: 0;
}

.range-thumb:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-thumb:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-thumb:active {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.range-thumb:disabled {
  background-color: #82B3D3;
  pointer-events: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.button-accept {
  display: block;
  min-width: 160px;
  margin: 0;
  margin-bottom: 14px;
  padding: 14px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
}

.button-accept:hover {
  background-color: #68A2CA;
}

.button-accept:focus {
  background-color: #68A2CA;
}

.button-accept:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-accept:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-reset {
  box-sizing: border-box;
  display: block;
  min-width: 100px;
  min-height: 32px;
  margin: 0 auto;
  margin-bottom: -5px;
  padding: 4px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  outline: 3px solid #83b3d3;
}

.button-reset:active {
  outline: none;
  opacity: 0.3;
}

.button-reset:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.catalog-content {
  padding: 55px 71px 25px 73px;
}

.search-layout {
  display: flex;
  align-items: flex-start;
  margin-bottom: 56px;
}

.catalog-content-text {
  width: 400px;
  align-self: center;
  margin: 0;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.control-select {
  box-sizing: border-box;
  display: block;
  padding: 12px 18px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-image: url("../images/icons/select-arrow.svg");
  background-position: center right 18px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  -moz-appearance: none;
	-webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

@-moz-document url-prefix() {
  .control-select {
    padding: 12px 14px;
  }
}

.search-layout .control-select {
  width: 290px;
  margin-right: 78px;
}

.layout-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.layout-button-item:not(:nth-child(3n)) {
  margin-right: 8px;
}

.layout-button {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-button:hover {
  border-color: #000000;
}

.layout-button:focus {
  border-color: #68A2CA;
  outline: none;
}

.layout-button:active {
  border-color: #000000;
}

.layout-button.layout-current {
  border-color: #000000;
}

.layout-button.button-tile {
  content: "";
  background: url("../images/icons/icon-tile.svg") center/auto no-repeat;
}

.layout-button.button-gallery {
  content: "";
  background: url("../images/icons/icon-gallery.svg") center/auto no-repeat;
}

.layout-button.button-list {
  content: "";
  background: url("../images/icons/icon-list.svg") center/auto no-repeat;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-gap: 0 18px;
  margin: 0;
  padding: 0;
  padding-bottom: 65px;
  list-style: none;
  border-bottom: solid 1px #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 20px;
  align-items: center;
  padding: 20px;
}

.hotel-card-link {
  display: block;
  grid-column: 1/-1;
  text-decoration: none;
  color: #000000;
}

.hotel-card-image {
  display: block;
  object-fit: cover;
  background-color: #ffffff;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-link:hover .hotel-card-title {
  color: #756157;
}

.hotel-card-link:focus .hotel-card-title {
  color: #756157;
}

.hotel-card-link:active .hotel-card-title {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-type,
.hotel-card-price {
  margin: 0;
  color: #333333;
}

.card-button {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 9px 5px 8px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.about-button {
  text-decoration: none;
  background-color: #756157;
}

.about-button:hover {
  background-color: #615048;
}

.about-button:focus {
  background-color: #615048;
}

.about-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.about-button.disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.fav-button {
  background-color: #82b3d3;
}

.fav-button:hover {
  background-color: #68A2CA;
}

.fav-button:focus {
  background-color: #68A2CA;
}

.fav-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.fav-button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.fav-button-selected {
  background-color: #7db54f;
}

.fav-button-selected:hover {
  background-color: #6C9E42;
}

.fav-button-selected:focus {
  background-color: #6C9E42;
}

.fav-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.fav-button-selected:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.rating-button {
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  cursor: default;
}

.rating-star-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.star-item {
  content: "";
  width: 18px;
  height: 17px;
  margin-right: 6px;
  background: url("../images/icons/star.svg") center no-repeat;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;

}

.pagination-button {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-button.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.pagination-span {
  cursor: default;
}

.pagination-button:not(.pagination-current, .pagination-span):hover {
  background-color: #68A2CA;
}

.pagination-button:not(.pagination-current, .pagination-span):focus {
  background-color: #68A2CA;
}

.pagination-button:not(.pagination-current, .pagination-span):active {
  color: rgba(255, 255, 255, 0.3);
}

.container-card-num {
  display: flex;
  align-items: center;
  color: #333333;
}

.container-card-num p {
  margin: 0;
  padding: 0;
}

.container-card-num .control-select {
  width: 160px;
  margin-left: 51px;
}

.control-select:hover {
  border-color: #68A2CA;
}

.control-select:focus {
  border-color: #68A2CA;
  outline: none;
}

.control-select:active {
  border-color: #3f5e72;
}

.control-select:disabled {
  border: 2px solid #000000;
  color: #000000;
  opacity: 0.3;
  pointer-events: none;
}
