@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.page-header {
  background: #ffffff;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.header-logo {
  display: block;
  margin-right: 30px;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list.navigation-user {
  width: 350px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
 }

 .favorites-counter {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
 }

.header-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 160px;
  height: 37px;
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  background-color: #756157;
}

.page-footer {
  background: #ffffff;
}

.subscription {
  padding-top: 94px;
  text-align: center;
  color: #ffffff;
  background: url("../images/subscribe-background.jpg") #2d4247 center no-repeat;
  background-size: cover ;
}

.subscription.subscription-catalog {
  color: inherit;
  background: inherit;
}

.subscription-title {
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-catalog .subscription-text {
  color: #333333;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-input {
  display: block;
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  margin-bottom: 94px;
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.subscription-input::placeholder {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}

.subscription-button {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 10px 10px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  list-style: none;
  text-align: center;
}

.footer-social-list .vk::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/vk.svg") center no-repeat;
}

.footer-social-list .tg::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/telegram.svg") center no-repeat;
}

.footer-social-list .yt::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/youtube.svg") center no-repeat;
}

.footer-phone-link {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.about-logo {
  display: block;
}

.main-content {
  flex-grow: 1;
  background-color: #ffffff;
}

/* index */

.lead-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 485px;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 63px;
  text-align: center;
  background-image: url("../images/welcome-mask.svg"), url("../images/welcome-background.jpg");
  background-color: #2d4247;
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
}

.lead-banner {
  display: block;
  margin: 0 auto;
}

.lead-slogan,
.lead-text {
  width: 670px;
  margin-left: auto;
  margin-right: auto;
}

.lead-slogan {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.lead-text {
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-accent {
  text-align: center;
  color: #ffffff;
  background: #82b3d3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.accent-odd::after {
  content: "";
  display: block;
  width: 800px;
  height: 384px;
  background: url("../images/town.jpg") center no-repeat;
}

.accent-even::before {
  content: "";
  display: block;
  width: 800px;
  height: 384px;
  background: url("../images/canyon.jpg") center no-repeat;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item {
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  color: #333333;
}

.advantages-accent-bright {
  background: #ffffff;
}

.advantages-accent-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item.housing::before {
  content: "";
  display: block;
  width: 100%;
  height: 72px;
  background: url("../images/icons/housing.svg") center no-repeat;
}

.advantages-item.food::before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background: url("../images/icons/food.svg") center no-repeat;
}

.advantages-item.souvenirs::before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  background: url("../images/icons/souvenirs.svg") center no-repeat;
}

.hotel-search {
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-text {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 574px;
  height: 60px;
  padding: 12px 15px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #756157;
}

/* catalog */

.catalog-header {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: url("../images/filter-background.jpg") #2d4247 center no-repeat;
  background-size: 100% auto;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-item:first-child .breadcrumbs-link::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/icons/breadcrumbs-home.svg") center no-repeat;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  background: url("../images/icons/breadcrumbs-arrow.svg") center no-repeat;
}

.catalog-form {
  display: flex;
  justify-content: space-between;
}

.filter-column-left,
.filter-column-right {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-accept,
.button-reset {
  display: block;
  margin: 0 auto;
}

.button-accept {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.catalog-content {
  margin: 0;
  padding-left: 73px;
  padding-right: 71px;
}

.search-layout {
  display: flex;
  justify-content: space-between;
}

.catalog-content-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.control-select {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-list {
  list-style: none;
}

.layout-button {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-button.layout-current {
  border-color: #000000;
}

.layout-button.button-tile {
  content: "";
  background: url("../images/icons/icon-tile.svg") center no-repeat;
}

.layout-button.button-gallery {
  content: "";
  background: url("../images/icons/icon-gallery.svg") center no-repeat;
}

.layout-button.button-list {
  content: "";
  background: url("../images/icons/icon-list.svg") center no-repeat;
}

.hotel-list {
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.card-button {
  display: block;
  width: 140px;
  height: 37px;
  font-style: normal;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
}

.about-button {
  text-decoration: none;
  background-color: #756157;
}

.fav-button {
  background-color: #82b3d3;
}

.rating-button {
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.rating-star-list {
  list-style: none;
}

.star-item {
  content: "";
  width: 18px;
  height: 17px;
  background: url("../images/icons/star.svg") center no-repeat;
}

.pagination {
  list-style: none;
}

.pagination-button {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-button.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.container-card-num {
  color: #333333;
}
