@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.page-header {
  background: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #000000;
 }

 .favorites-counter {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
 }

.header-button {
  display: block;
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 37px;
  text-decoration: none;
  background-color: #756157;
}

.main-content {
  background-color: #ffffff;
}

.page-footer {
  background: #ffffff;
}

.subscription {
  text-align: center;
  color: #ffffff;
  background: url("../images/subscribe-background.jpg") #2d4247 center no-repeat;
  background-size: 100% auto;
}

.subscription.subscription-catalog {
  color: inherit;
  background: inherit;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscription-catalog .subscription-text {
  color: #333333;
}

.subscription-input {
  font-family: inherit;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.subscription-input::placeholder {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  opacity: 0.6;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0px 10px 10px 0px;

}

.footer-social-list {
  list-style: none;
  text-align: center;
}

.footer-social-list .vk::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/vk.svg") center no-repeat;
}

.footer-social-list .tg::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/telegram.svg") center no-repeat;
}

.footer-social-list .yt::after {
  content: "";
  display: block;
  width: 24px;
  height: 20px;
  background: url("../images/icons/youtube.svg") center no-repeat;
}

.footer-phone-link {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.lead-wrapper {
  text-align: center;
  background: url("../images/welcome-background.jpg") #2d4247 center no-repeat;
  background-size: 100% auto;
}

.lead-slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.lead-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.advantages {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-accent {
  text-align: center;
  color: #ffffff;
  background: #82b3d3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.accent-odd::after {
  content: "";
  display: inline-block;
  width: 800px;
  height: 384px;
  background: url("../images/town.jpg") center no-repeat;
}

.accent-even::before {
  content: "";
  display: inline-block;
  width: 800px;
  height: 384px;
  background: url("../images/canyon.jpg") center no-repeat;
}

.advantages-list-icons,
.advantages-list-numbers {
  list-style: none;
  text-align: center;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-text {
  color: #333333;
}

.advantages-accent-bright {
  background: #ffffff;
}

.advantages-accent-dark {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item.housing::before {
  content: "";
  display: block;
  width: 100%;
  height: 72px;
  background: url("../images/icons/housing.svg") center no-repeat;
}

.advantages-item.food::before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background: url("../images/icons/food.svg") center no-repeat;
}

.advantages-item.souvenirs::before {
  content: "";
  display: block;
  width: 100%;
  height: 76px;
  background: url("../images/icons/souvenirs.svg") center no-repeat;
}

.hotel-search {
  text-align: center;
  align-items: center;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.hotel-search-button {
  display: inline-block;
  width: 574px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
  background-color: #756157;
}

.catalog-header {
  color: #ffffff;
  background: url("../images/filter-background.jpg") #2d4247 center no-repeat;
  background-size: auto 100%;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.breadcrumbs-item:first-child .breadcrumbs-link::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/icons/breadcrumbs-home.svg") center no-repeat;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 6px;
  height: 8px;
  background: url("../images/icons/breadcrumbs-arrow.svg") center no-repeat;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
}

.button-accept {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: #82b3d3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: capitalize;
  background-color: transparent;
}

.catalog-content-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.control-select {
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-list {
  list-style: none;
}

.layout-button {
  display: block;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.layout-button.layout-current {
  border-color: #000000;
}

.layout-button.button-tile {
  content: "";
  background: url("../images/icons/icon-tile.svg") center no-repeat;
}

.layout-button.button-gallery {
  content: "";
  background: url("../images/icons/icon-gallery.svg") center no-repeat;
}

.layout-button.button-list {
  content: "";
  background: url("../images/icons/icon-list.svg") center no-repeat;
}

.hotel-list {
  list-style: none;
}

.hotel-card-link {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type,
.hotel-card-price {
  color: #333333;
}

.card-button {
  display: block;
  width: 140px;
  height: 37px;
  font-style: normal;
  font-size: 16px;
  line-height: 37px;
  font-weight: 700;
}

.about-button {
  text-decoration: none;
  background-color: #756157;
}

.fav-button {
  background-color: #82b3d3;
}

.rating-button {
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
}

.rating-star-list {
  list-style: none;
}

.star-item {
  content: "";
  width: 18px;
  height: 17px;
  background: url("../images/icons/star.svg") center no-repeat;
}

.pagination {
  list-style: none;
}

.pagination-button {
  display: block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-button.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.container-card-num {
  color: #333333;
}
